.nav-link:hover{
    border-bottom: 2px solid rgb(0, 255, 51);
    color: rgb(3, 172, 3);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}
.nav-link{
     transition: transform 0.3s ease-in-out;
}